{{!-- <li class="mb-1">
    <p class="font-medium">{{this.title}}</p>
    <p class="text-neutral-700 font-normal">{{this.artist}}, {{this.year}}, <i>{{this.album}}</i></p>
</li>
 --}}
<li class="mb-1">
    <p class="font-medium">{{this.title}}</p>
    <p class="text-neutral-700 font-normal">
        {{this.artist}}{{#if this.year}}, {{this.year~}}{{/if}}{{#if this.album}}, <i>{{this.album}}</i>{{/if}}
    </p>
</li>