<div class="mb-4">
    <h2 class="page-title">{{playlistData.title}}</h2>

    {{#if belongsToThisUser}}
        <div>
            <a role="button" href="/edit-playlist/{{playlistData._id}}" class="rectangle-btn w-36">Edit</a>

            <button type="button" data-id="{{pl._id}}" data-modal-btn="open-modal" data-btn-type="del-btn" class="rectangle-btn w-36 text-left">Delete</button>
        </div>
    {{/if}}
</div>

<p class="mb-4">Assembled by: <a href="/users/{{playlistOwnerData._id}}" class="font-semibold">{{playlistOwnerData.username}}</a></p>

<div class="border-2 border-stone-300">
    <ul class="pl-3 py-2.5 divide-y space-y-1.5">
        {{#each playlistData.songs as |song|}}
            {{> song song}}
        {{/each}}
    </ul>
</div>

<script src="/js/delete-playlist.js"></script>